@model List<Plant> 
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="ProniaAdmin" asp-controller="plant" asp-action="create">
            Create New Plant
        </a>
    </div>
    @if (TempData["FileName"] != null)
    {
        <div class="alert alert-danger">@TempData["FileName"]</div>
    }
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        SKU
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Plant plant in Model)
                {
                    <tr>
                        <td>
                            <img style="width:100px; height:100px" src="~/assets/images/website-images/@plant.PlantImages.FirstOrDefault(p=>p.IsMain==true)?.Name" />
                        </td>
                        <td>
                            @plant.Name
                        </td>
                        <td>
                            @plant.Price
                        </td>
                        <td>
                            @plant.SKU
                        <td class="display-flex">
                            <div>
                                <a asp-area="ProniaAdmin" asp-controller="Plant" asp-action="Update" asp-route-id="@plant.Id"
                                   class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                            </div>
                            <div>
                                <a asp-area="ProniaAdmin" asp-controller="Plant" asp-action="Delete" asp-route-id="@plant.Id"
                                   class="btn btn-primary"><i class="mdi mdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

