@model Plant
@{
    ViewData["Title"] = "Update";
}

<main class="main-panel">
    <h1 style="text-align:center; background-color:grey">Create Plant</h1>
    @if (TempData["Filname"] != null)
    {
        <div class="alert alert-danger">@TempData["Filename"]</div>
    }
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post" class="mt-2" enctype="multipart/form-data">
        <div>
            <label>Add Main Photo:</label><br />
            <input asp-for="MainPhoto" class="form-control" /><br />
            <span classs="text-danger" asp-validation-for="MainPhoto"></span>
        </div>
        <div>
            <label>Add Hover Photo:</label><br />
            <input asp-for="HoverPhoto" class="form-control" /><br />
            <span classs="text-danger" asp-validation-for="HoverPhoto"></span>
        </div>
        @*<div>
            <h2>Other images</h2>
            <div class="image d-flex">

                @foreach (PlantImage image in Model.PlantImages.Where(p => p.IsMain == false))
                {
                    <div style="position:relative;" class="col-sm-3">
                        <img src="~/assets/images/website-images/@image.Name" style="width:100%;height:300px;object-fit:contain">
                        <input type="hidden" name="ImagesId" value="@image.Id">
                        <button style="position:absolute; right:5px" type="button" class="btn btn-danger">X</button>
                    </div>
                }
            </div>
            <label>Add a title:</label><br />
            <input asp-for="Name" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>*@
        <div>
            <label>Images:</label><br />
            <input asp-for="Photos" class="form-control" /><br />
            <span classs="text-danger" asp-validation-for="Photos"></span>
        </div>
        <div class="images">
            <div class="images">
                <h3>Main</h3>
                <img src="~/assets/images/website-images/@Model.PlantImages.FirstOrDefault(p=>p.IsMain == true)?.Name">
            </div>
            <div class="images">
                <h3>Hover</h3>
                <img src="~/assets/images/website-images/@Model.PlantImages.FirstOrDefault(p=>p.IsMain == null)?.Name">
            </div>
            <h3>Other images</h3>
            <div class="image d-flex">

                @foreach (PlantImage image in Model.PlantImages.Where(p => p.IsMain == false))
                {
                    <div style="position:relative;" class="col-sm-3">
                        <img src="~/assets/images/website-images/@image.Name" style="width:100%;height:200px;object-fit:contain">
                        <input type="hidden" name="ImagesId" value="@image.Id">
                        <button style="position:absolute; right:5px" type="button" class="btn btn-success">X</button>
                    </div>
                }
            </div>
        </div>
        <div>
            <label>Name:</label><br />
            <input asp-for="Name" type="text" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div>
            <label>Price:</label><br />
            <input asp-for="Price" type="text" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div>
            <label>Desc:</label><br />
            <input asp-for="Desc" type="text" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="Desc"></span>
        </div>
        <div>
            <label>SKU:</label><br />
            <input asp-for="SKU" type="text" class="form-control" /><br />
            <span class="text-danger" asp-validation-for="SKU"></span>
        </div>
        <div>
            <label>Plant Information:</label><br />
            <select class="form-control" asp-for="PlantInformationId" asp-items="@(new SelectList(ViewBag.Information,"Id","Shipping"))"></select>
        </div>
        <div>
            <label>Plant Category:</label><br />
            @*<select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>*@
            <select class="form-control" asp-for="CategoryId">
                @foreach (Category category in ViewBag.Categories)
                {
                    if (Model.PlantCategories.Exists(p => p.CategoryId == category.Id))
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>

        </div>
        <div class="mt-2">
            <button class="btn btn-success" type="submit">
                Create
            </button>
        </div>
    </form>
</main>

@section Scripts{
    <script>
        let btns = document.querySelectorAll(".btn-success")

        btns.forEach(b => {
            b.addEventListener("click", function () {
                b.parentElement.remove();
            })
        })
    </script>
}


